<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h3>By default this applicaiton  connects to localhost cassandra</h3>
<p>To connect to other host update 
<span>config.cassandra.contactPoints = ['10.227.66.99'];</span>
entry from config.js

</p>