<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h3>By default this applicaiton  connects to localhost cassandra</h3><br/>
<p>To connect to other host update 
<span>config.cassandra.contactPoints = ['localhost'];</span>
entry from config.js

</p>
