<form class="form-inline" method="POST" action="/keyspaces">
  <div class="form-group">
    <label for="keyspace_name">Keyspace Name</label>
    <input type="text" class="form-control" id="keyspace_name" name="keyspace_name" placeholder="Keyspace Name" required>
  </div>
  <button type="submit" class="btn btn-default">Create new keyspace</button>
</form>



<table class="table table-hover table-bordered">
	<tr><th>#</th>
	<th>
		Keyspace Name
	</th>
</tr>
{{#each data.rows}}
<tr>
	<td>{{@index}}</td>
	<td>
		<a href="/keyspaces/{{this.keyspace_name}}">{{this.keyspace_name}}</a>
	</td>
</tr>
{{/each}}
</table>