<table class="table table-hover table-bordered">
	<tr><th>#</th>
	<th>
		Table Name
	</th>
	
</tr>
{{#each data.rows}}
<tr>
	<td>{{@index}}  </td>
	<td>
		<a href="/keyspaces/{{../keyspace_name}}/{{columnfamily_name}}">{{columnfamily_name}}</a>
	</td>
	
</tr>
{{/each}}
</table>